/enterprise/.classpath
/enterprise/.project
/enterprise/*.jar
*~
*.java#
.*
=*
#*#
.classpath
.project
.settings
.metadata
.svn
*.swp
*.mmo
*.patch
*.bin
*.class
*.bak
*.jar
*.log
*.sgf
*.o
*.ko
*.html
.metadata
bak
GO_WS2
classes
GO_WS/围棋应用程序/doc/围棋打谱软件/weiqigo
GO_WS/围棋应用程序/bin
